.auth{
  width: 400px;
  padding: 20px;
  margin: auto;
  background: rgb(243, 243, 239);
}
.auth__header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  align-items: center;
}
.auth__footer{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}
